<div class="header">
    <div class="container">
        <nav class="header--navigation">
            <ul class="header--navigation-list">
                <li class="header--navigation-item">
                    <a>
                        Home
                    </a>
                </li>
                <li class="header--navigation-item">
                    <a>
                        Top Rated
                    </a>
                </li>
                <li class="header--navigation-item">
                    <a>
                        Upcoming
                    </a>
                </li>
            </ul>
        </nav>
        <div class="header--user-section">

        </div>
    </div>
</div>
