<card-header>{{movie.title}}</card-header>

<div card-content>
    <div class="row">
        <div class="col-md-4">
            <img [src]="getImageSource()" class="movie--poster-image" />
        </div>
        

        <table>
            <tr>
                <div class="col-md-8">
                    <div>
                        <p>{{movie.overview}}</p>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="col-md-8">
                    <span class="movie--website">{{movie.homepage}}</span>
                </div>  
            </tr>
            <tr>
                <div class="col-md-4">
                    <span class="movie--release-date">{{movie.release_date}}</span>   
                </div>
            </tr>
            <tr>
                <div class="col-md-2">
                    <span class="movie--vote-average">{{movie.vote_average}}</span>
                </div>
            </tr>
            <tr>
                <div class="col-md-6">
                    <button class="button--default-blue" (click)="clickBack()">Back</button>    
                </div>
            </tr>
        </table>

    </div>
    
        <button class="btn btn-icon" (click)="sendRate(movie.id, 2)">Set 2 Points</button> 
        <button class="btn btn-icon" (click)="sendRate(movie.id, 4)">Set 4 Points</button> 
        <button class="btn btn-icon" (click)="sendRate(movie.id, 6)">Set 6 Points</button> 
        <button class="btn btn-icon" (click)="sendRate(movie.id, 8)">Set 8 Points</button> 
        <button class="btn btn-icon" (click)="sendRate(movie.id, 10)">Set 10 Points</button> 
</div>