<card-header>{{movie.title}}</card-header>

<div card-content>
    <div class="row">
        <div class="col-md-4">
            <img [src]="getImageSource()" class="movie--poster-image" />
        </div>
        <div class="col-md-8">
            <div>
                <p>{{movie.overview}}</p>
            </div>
        </div>

        <div class="col-md-4">  
        <span class="movie--website">{{movie.homepage}}</span>
        <span class="movie--release-date">{{movie.release_date}}</span>
        <span class="movie--vote-average">{{movie.vote_average}}</span>
        </div>

        <div class="col-md-2">
            <button (click)="clickBack()">Back</button>
        </div>
    </div>
</div>