$black: #000000;
$blue: #2653A8;
$green: #15D86C;
$light-black: #24292D;
$light-blue: #3186C5;
$red: #E71B3C;
$white: #FFFFFF;

$primary: $blue;
$secondary: #000000;
$tertiary: #000000;

$danger: $red;
