/* You can add global styles to this file, and also import other style files */

@import 'node_modules/normalize-scss/sass/normalize';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid';

@include normalize();

body {
    background-color: #ECEDEE;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    font-weight: lighter;
}
